<style>
    @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
    *{
        font-family: 'Kanit', sans-serif;

        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: center;
    }
    li {
        float: left;
        
    }
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
    h1,h3,h2{
        padding: 2%;
        text-align: center;
    }
    .h {
        padding: 0;
        margin: 0;
        background-color: pink;
    }
    .a{
        margin: 2%;
        padding: 5%;
        background-color: lightpink;
    }
    </style>
<nav>
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/student">Student List</a></li>
        <li><a href="http://localhost:3000/student/portfolio">My Portfolio</a></li>
        <li><a href="http://localhost:3000/student/resume">My Resume</a></li>
    </ul>
</nav>