<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

<body>
    <header>
        <h1>My Resume</h1>
    </header>
    <%- include('./partials/nav.ejs') %>

        <h2>Personal Information</h2>
        <div class="img">
        <img src="/images/me.jpg" alt="รูปประจำตัว">
    </div>
        <div class="info_div">
            <p class="p">Pimnapa Sriboonreuang</p>
            <p class="p">Email : pimnapa.s@kkumail.com</p>
            <p class="p">Phone : Iphone 13 Pink</p>
            <p class="p">Address : Buckingham Palace, UK</p>
        </div>
        <h3>Work Experience</h3>
        <div class="info">
            Structured Programming for Information Technology : Comepeerapan Skin Advisor <br>
            Inspiration in IT Career : Shopcare Application <br>
            Object Oriented Concepts and Programming & Introduction to Computer Organization and Architecture : Shining
            โปรแกรมควบคุมหลอดไฟโต๊ะเครื่องแป้ง <br>
            Introduction to Computer Networking : Have Chat <br>
            Web Design Technologies : Air Guide <br>
            Web Application Programming & Database Analysis and Design : Artisan Hotel <br>
            Basics of Data Engineering : หัวข้อการกล่าวถึงเมมเบอร์แต่ละคนใน Blackpink <br>
            Information and Communication Technology Security : LockPhish <br>
            Mobile Device Programming : Vantic แอปพลิเคชันจองตั๋วรถตู้ <br>
            Java Web Application Development : Mugic เว็บแอปพลิเคชั่นรวบรวมข้อมูลเพลง</div>
        <h3>Education</h3>
        <div class="info">
            Elementary School : Thepnusorn School <br>
            High School : Satri Rachinuthit School <br>
            Bachelor Degrees : Bachelor of Science (B. Sc.), Technology Information, KKU
        </div>




</body>

</html>